@import '../../sass/Variable/index';

.wrapper {
  background-image: url('../../assets/image/Game/Wordmatchinggame/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 17px 30px;

  .list-img {
    padding: 0 100px;
    @media (max-width: 1500px) {
      padding: 0 50px;
    }
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 10px;
    @include flex(center, center, wrap);

    .wrapper-img {
      height: 100%;
      padding: 10px 30px;
      img {
        padding: 10px;
        border-radius: 8px;
        width: 300px;
        height: 170px;
        object-fit: contain;
        background-color: rgb(255 255 255 / 65%);
        box-shadow: 0px 8px #503b0e5e;
        @media (min-width: 1700px) {
          width: 500px;
          height: 220px;
        }
      }
    }
  }

  .wrapper-answer {
    margin-top: 50px;
    @media (min-width: 1700px) {
      margin-top: 160px;
    }
    @include flex(center, center, nowrap);

    .img-button {
      background-position: center;
      background-repeat: no-repeat;
      @include flex();
      width: 80px;
      height: 80px;

      font-size: 3rem;
      font-weight: bold;
      color: white;
      text-transform: uppercase;

      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .wrapper2 {
    margin-top: 50px;
    @media (min-width: 1700px) {
      margin-top: 100px;
    }

    .wrapper-question {
      @include flex(center, center, nowrap);
      .img-question {
        background-position: center;
        padding: 30px 38px;
        background-repeat: no-repeat;

        font-size: 3rem;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.modal {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
