@import '../../sass/Variable/index';

// Modal
.wrapper {
  position: relative;
  padding: 40px;
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/image/BingoGame/bg3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .icon-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  .icon-home {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .body {
    padding: 14px;
    width: 84%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-image: url('../../assets/image/BingoGame/bgplay.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    .icon-speak {
      position: absolute;
      top: 14px;
      right: 20px;
      width: 60px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }
      }
      &::after {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        width: 3.8px;
        height: 0%;
        background-color: #cfd89c;
        border-radius: 12px;
        transform: translate(-50%, -50%) rotate(-49deg);
        transition: all 0.2s ease-in;
      }
    }

    .active::after {
      height: 65%;
    }
    .icon-help {
      position: absolute;
      top: 14px;
      right: 100px;
      width: 60px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }
      }
      .count {
        position: absolute;
        background: white;
        top: -10px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        @include flex();
        font-weight: 600;
        color: red;
        border: 2px solid #dbd7d7;
      }
    }
    .wrapper-content {
      display: flex;
      height: 100%;

      .main-content {
        flex: 2;
      }

      .sub-content {
        flex: 1;

        @include flex(center, center, nowrap);

        flex-direction: column;
        width: 100%;
        .error {
          margin-bottom: 50px;
          width: 40px;
          height: 40px;
          @include flex(center, center, nowrap);
          flex-direction: row;
          img {
            width: 100%;
            height: 100%;
            margin-left: 14px;
          }
        }
        .score {
          margin-bottom: 50px;

          width: 60px;
          height: 60px;
          @include flex(center, center, nowrap);
          font-weight: bold;
          font-size: 4rem;
          color: white;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-right: 20px;
          }
        }
        .repeat {
          width: 200px;
          // height: 200px;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.03);
            }
          }
        }
      }
    }
  }
}

// Game 3x3
.wrapper-game3x3 {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 12px;

  .button {
    padding: 10px 0;
    background-image: url('../../assets/image/BingoGame/square.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flex();
    font-weight: bold;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 230px;
    height: 160px;
    border-radius: 12px;
    &:hover {
      transform: scale(1.03);
    }
    &.help {
      animation: zoom 3s infinite;
    }
  }
}

// Game 4x4
.wrapper-game4x4 {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 12px;
  .button {
    padding: 10px 0;
    background-image: url('../../assets/image/BingoGame/square.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flex();
    font-weight: bold;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    height: 100px;
    border-radius: 12px;
    &:hover {
      transform: scale(1.03);
    }
    &.help {
      animation: zoom 3s infinite;
    }
  }
}

// Game 5x5
.wrapper-game5x5 {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 12px;
  .button {
    padding: 5px;
    background-image: url('../../assets/image/BingoGame/square.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flex();
    font-weight: bold;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 130px;
    height: 90px;
    border-radius: 12px;
    &:hover {
      transform: scale(1.03);
    }
    &.help {
      animation: zoom 3s infinite;
    }
  }
}

.img {
  width: 230px;
  height: 160px;
  border: 2px solid #6ace09;
  border-radius: 12px;
  padding: 10px 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.img4 {
  width: 150px;
  height: 100px;
}
.img5 {
  width: 130px;
  height: 90px;
}

// modalsuccess
.wrapper-success {
  position: fixed;
  width: 84%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #88fff880;
  border-radius: 12px;
  z-index: 2;
  @include flex();
  .bg-success {
    position: relative;
    background-image: url('../../assets/image/BingoGame/bgsuccess.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 800px;
    .star {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      @include flex(center, center, nowrap);
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin-right: 20px;
        &:nth-child(2) {
          margin-top: -20px;
        }
      }
    }
    .complete {
      position: absolute;
      top: 38%;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .home-success {
      position: absolute;
      bottom: -90px;
      left: 30%;
      transform: translateX(-50%);
      width: 220px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }
      }
    }
    .next-success {
      position: absolute;
      bottom: -94px;
      right: 4%;
      transform: translateX(-50%);
      width: 210px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

// modalfail
.wrapper-fail {
  position: fixed;
  width: 84%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #88fff880;
  border-radius: 12px;
  z-index: 2;
  @include flex();
  .bg-fail {
    position: relative;
    background-image: url('../../assets/image/BingoGame/bgfail.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 800px;
    .star {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      @include flex(center, center, nowrap);
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin-right: 20px;
        &:nth-child(2) {
          margin-top: -20px;
        }
      }
    }
    .fail {
      position: absolute;
      top: 38%;
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .home-fail {
      position: absolute;
      bottom: -90px;
      left: 30%;
      transform: translateX(-50%);
      width: 220px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }
      }
    }
    .repeat-fail {
      position: absolute;
      bottom: -94px;
      right: 4%;
      transform: translateX(-50%);
      width: 210px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

// Figure
.wrapper-figure {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: 100%;
  .may {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    padding-bottom: 40px;
    height: 48vh;
    width: 50vw;
    background-image: url('../../assets/image/BingoGame/may.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include flex(center, center, nowrap);
    flex-direction: column;
    .good {
      color: #ff0a0a;
      font-size: 5rem;
      font-weight: bold;
      text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);
      margin-bottom: 60px;
    }
    .translation {
      color: #41a94b;
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 60px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.11);
    }
    .spelling {
      color: #12ddf9;
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 60px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.11);
    }
  }
  .figure {
    position: absolute;
    bottom: 9%;
    right: 24%;
    // transform: translate(-50%, -50%);
    z-index: 3;
    width: 500px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

// keyframe
@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
