@import '../Variable/index';

.wrapper {
  position: absolute;
  top: -8px;
  left: -6px;
  background-color: white !important;
  z-index: 100;
  border-radius: 12px;
  padding: 20px;
  margin-top: 10px;
  max-height: 100%;
  box-shadow: 5px 4px 15px -5px rgb(0 0 0 / 14%);

  .header {
    // @include flex(center, start, wrap);
    margin-bottom: 20px;

    .voca {
      text-align: center;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      .name-vn,
      .name-eng {
        text-align: center;
        font-size: 2.2rem;
        color: #21a757;
        font-weight: bold;
      }
      .name-vn {
        margin-right: 20px;
      }
    }

    .name-vn {
      text-transform: capitalize;
    }
    .name-eng {
      text-transform: capitalize;
    }

    .spelling {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      &__left {
      }

      &__right {
        margin-right: 20px;
      }
    }
  }

  .icon {
    @include flex();
    position: absolute;
    top: -16px;
    right: -12px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .img {
    margin-top: 10px;
    border-radius: 10px;
    @include flex();

    img {
      border-radius: 10px;
      width: 300px;
      height: 100px;
      @media (min-width: 1600px) {
        width: 320px;
        height: 200px;
      }
      object-fit: contain;
      border-radius: 12px;
    }
  }

  .content {
    margin-top: 20px;
    .content-body {
      margin-top: 20px;
      &__item {
        margin-top: 30px;
        @include flex(center, space-between, nowrap);
        font-size: 2.4rem;
        font-weight: bold;

        .voca-speak {
          text-transform: capitalize;
        }

        .eng {
          margin-left: 20px;
          color: #0e7a9c;
        }
      }
    }
  }
}

.content-body-total {
  height: 300px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
}

.icon-speak {
  @include flex(center, center, nowrap);

  height: 30px;
  width: 30px;
  border-radius: 30%;
  background-color: #fff4f2;
  padding: 2px;
  transition: all 0.3s linear;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  svg {
    color: #ff6652;
  }
}
